

.selected {
    background-color: white;
    color: black;
}

#testline {
    color: white;
    background-color: white;
    height: 5px;
    padding-top: 0px;
    margin-top: 2.45vw;
    width: 40vw;
    margin-right: 0px;
    margin-left: 55vw;
}

#AIFlow {
    width: 96vw;
}

h2 {
    padding-top: 2vh;
    margin-bottom: 2vh;
}

#credit a:link {
    text-decoration: none;
    color: white;
}

#credit a:visited {
    text-decoration: none;
    color: white;
}

#credit a:hover {
    text-decoration: none;
    color: white;
}

#credit a:active {
    text-decoration: none;
    color: white;
}

#main #credit {
    font-size: 0.7em;
    text-align: right;
    margin-bottom: 0px;
}