.container {
    display: grid;
    height: 100vh;
    grid-template-columns: [col1-start] 2vw [col1-end col2-start] 96vw [col2-end col3-start] 2vw [col3-end];
    grid-template-rows: [row1-start] 10vh [row1-end row2-start] 1fr [row2-end row3-start] 100px [row3-end];
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#sideleft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#main {
    grid-column-start: 2
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#sideright {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
