body {
    background-color: #0384fc;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

header {
    background-color: #36454f;
}

@font-face {
    font-family: mainFont;
    src: IBM_Plex_Serif;
}

header p {
    color: white;
    font-size: 4vh;
    margin-top: 2.25vh;
    margin-bottom: 2.25vh;
    font-family: mainFont;
    width: 20%;
    float: left;
    height: 55%;
    margin-left: 1vw;
}

header nav {
    margin-top: 2.75vh;
    margin-bottom: 2.75vh;
    font-family: mainFont;
    font-size: 3vh;
    margin-left: 44vw;
}

nav a:link {
  color: white;
  background-color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;

}

nav a:visited {
  color: white;
}

nav a:hover {
  color: white;
}

nav a:active {
  color: white;
}