
@font-face {
    font-family: mainFont;
    src: IBM_Plex_Serif;
}

h2 {
    padding-top: 2vh;
    margin-bottom: 5vh;
}

.subTitles {
    font-size: 1.5em;
    text-shadow: none;
    color: white;
    text-align: center;
    padding-top: 0vh;
    margin-bottom: 1vh;
}

#neuronDiagram {
    margin-left: 24vw;
    width: 45vw;
}

#ANNDiagram {
    margin-left: 33vw;
    width: 35vw;
}


.figures {
    font-size: 0.75em;
    padding-top: 0px;
    text-shadow: none;
    color: white;
    font-family: mainFont;
    width: 4vw;
    margin: auto;
    padding-bottom: 2vh;
}


#main .generalText p {
    color: white;
    font-size: 1.25em;
    font-family: mainFont;
    width: 100%;
    text-align: left;
    width: 45vw;
    margin: auto;
    margin-bottom: 5vh;
}

@font-face {
    font-family: mainFont;
    src: IBM_Plex_Serif;
}

.continue {
    color: white;
    font-size: 1.75em;
    margin-left: 36vw;
    background-color: #0384fc;
    border: 3px solid black;
    border-radius: 100px;
    box-shadow: 1px 1px black;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: mainFont;
}

#bottomspace {
    height: 5vh;
    margin: 0px;
}

.continue:link {
    text-decoration: none;
    color: white;
}

.continue:visited {
    text-decoration: none;
    color: white;
}

.continue:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px black;
}

.continue:active {
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px black;
}

.selected {
    background-color: white;
    color: black;
}

#testline {
    color: white;
    background-color: white;
    height: 5px;
    padding-top: 0px;
    margin-top: 2.32vw;
    width: 35vw;
    margin-right: 0px;
    margin-left: 60vw;
}