
@font-face {
    font-family: mainFont;
    src: IBM_Plex_Serif;
}

h2 {
    padding-top: 2vh;
}

.subTitles {
    font-size: 1.5em;
    text-shadow: none;
    color: white;
    text-align: left;
    padding-top: 5vh;
}

#neuronDiagram {
    margin-left: 27.5vw;
    width: 45vw;
}

.figures {
    font-size: 0.75em;
    padding-top: 0px;
    text-shadow: none;
    color: white;
    font-family: mainFont;
    width: 4vw;
    margin: auto;
    padding-bottom: 2vh;
}

.generalText {
    color: white;
    font-size: 1.25em;
    font-family: mainFont;
    width: 45vw;
    margin: auto;
    margin-bottom: 5vh;
}