
#PDiagram {
    margin-left: 35vw;
    width: 30vw;
}

#PFlowchart {
    margin-left: 37vw;
    width: 20vw;
}

#testline {
    color: white;
    background-color: white;
    height: 5px;
    padding-top: 0px;
    margin-top: 2.32vw;
    width: 35vw;
    margin-right: 0px;
    margin-left: 60vw;
}

nav a {
    position: relative;
}

.selected {
    background-color: white;
    color: black;
}

#tryoutbutton {
    margin-left: 39vw;
}